version: '3'

services:
  bastion:
    build: bastion
    restart: always
    ports:
      - "2222:22"
      - "8080:8080"    
    volumes:
      - ./.data/bastion/home:/home
    environment:
      - SUDO_ACCESS=false
      - PASSWORD_ACCESS=false=value
    depends_on:
      - db

  # proxy:
  #   build: proxy
  #   restart: always
  #   ports: 
  #     - "443:443"
  #   volumes:
  #     - ./.data/proxy/certs:/etc/nginx/certs
  #   env_file: .env
  #   depends_on:
  #     - db
  #     - bastion

  db:
    image: mariadb:10.3-focal
    restart: always
    volumes:
      - ./.data/db/conf.d:/etc/mysql/conf.d
      - ./.data/db/data:/var/lib/mysql
      - ./.data/db/initdb.d:/docker-entrypoint-initdb.d
    env_file: .env
    expose:
      - 3306
    ports:
      - "33060:3306"
    healthcheck:
      test:  mysqladmin ping -h 127.0.0.1 -u root --password=$$MYSQL_ROOT_PASSWORD || exit 1
      interval: 60s
      timeout: 5s
      retries: 5

  
      