[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
python-socks = {extras = ["asyncio"], version = "*"}
async-cache = "*"

[dev-packages]
isort = "*"
black = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
